html{
  margin:0;
  font-family:sans-serif;
}
body{
  margin:0;
}
header{
  padding:4%;
  background:center url("watermelonskin.jpg");
  background-size:contain;
}
h1{
  text-align:center;
}
h3{
  text-align:center;
}
.content-container{
  margin:auto;
  width:55%;
}
.content-container p{
  text-align:justify;
  line-height:2;
  padding:0px 30px;
}
.credit{
  width:100%;
  text-align:right!important;
}
