html{
  margin:0;
  font-family:sans-serif;
}
body{
  margin:0;
}
header{
  padding:1%;
  background:center url("watermelonskin.jpg");
  background-size:contain;
}
h1{
  text-align:center;
  font-size:4em;
}
h3{
  text-align:center;
}
.content-container{
  margin:auto;
  width:55%;
}
.content-container p{
  text-align:justify;
  line-height:2;
  padding:0px 30px;
}
.credit{
  width:100%;
  text-align:right!important;
}
.photocontainer{
  display:grid;
  grid-gap:50px 2%;
  grid-template:200px 200px/1fr 1fr 1fr;
  padding-bottom:50px;
}
.photo:nth-child(1){
  background-image:url("watermelon1.png");
}
.photo:nth-child(1):hover{
  transform:scale(1.1);
}
.photo:nth-child(2){
  background-image:url("watermelon2.jpeg");
  background-position:-240px -100px;
}
.photo:nth-child(2):hover{
  transform:rotate(90deg);
}
.photo:nth-child(3){
  background-image:url("watermelon3.jpeg");
}
.photo:nth-child(3):hover{
  transition:3s;
  transform:rotateX(360deg);
}
.photo:nth-child(4){
  background-image:url("watermelon4.jpeg");
}
.photo:nth-child(4):hover{
  transition:1s;
  background-position:-300px -150px;
}
.photo:nth-child(5){
  background-image:url("watermelon5.jpg");
}
.photo:nth-child(5):hover{
  transition:3s;
  transform:rotateY(360deg);
}
.photo:nth-child(6){
  background-image:url("watermelon6.jpg");
}
.photo:nth-child(6):hover{
  border-radius:50%;
  transition:0.3s;
}
.varieties ul{
  padding:0 40%;
}
.footer{
  text-align:center;
  background:url("watermelonskin.jpg");
  background-size:contain;
  bottom:0;
  padding:2%;
  color:white;
}
hr{
  width:80%;
  align:center;
}
